<% if (site.tags.length) { %>
    <div class="widget-wrap">
        <h3 class="widget-title"><%= __('标签') %></h3>
        <div class="widget tagcloud">
        	<a href="/" style="background: #ffa200; color: #fff;">全部</a>	
            <%- tagcloud() %>
        </div>
    </div>
<% } %>