.category-list
	.category-list-item
		padding: 0 10px 10px 0
		height: 88px
		@media mq-normal
			&:nth-child(3n)
					padding-right: 0
		@media mq-tablet
			&:nth-child(3n)
					padding-right: 0
		@media mq-mobile
			&:nth-child(2n)
				padding-right: 0
		a
			border-radius: 3px
			height: 100%
			display: block
			color: #000 !important
			opacity: 1
			transition: all 0.5s
			padding: 8px
			// background: #bbb
			@extend $block
			&:hover
				background: #aaa
			.category-list-img
				width: 36px
				height: 36px
				background: #eee
				border-radius: 36px
				margin: 12px 8px 0 6px
				color: #ffa200
				text-align: center
				line-height: 36px
				font-size: 22px
				font-weight: 800
				float: left
			.category-list-num
				font-size: 12px
				color: #777
				overflow:hidden
			.category-list-name
				color: #333
				overflow:hidden
	            text-overflow:ellipsis
	            white-space:nowrap