#list
	@extend $white-card
	margin-bottom: 10px
	.list-item
		display: block
		border-bottom: 1px solid #eee
		
		.list-item-num
			margin-left: 18px
			margin-right: 18px
			font-weight: 900
			font-size: 18px
			font-style: italic
			color: #ffa200
			text-align: right
			display: inline-block !important
			width: 20px
			padding: 16px 0
			overflow: hidden
		.list-item-title
			width: 70%
			overflow: hidden
			white-space: nowrap;
			text-overflow: ellipsis
			padding: 16px 0
			display: inline-block !important
			font-size: 16px !important
			color: #000
		.list-item-date
			@media mq-mobile
				display: none
			padding: 16px 20px
			display: inline-block
			float: right
		&:hover
			font-weight: 800
			background: #f8f8f8
			
